<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Dane:</title>
</head>
<body>
    <div align = "center">
        <h1>Edytuj Dane:</h1>
        <br>
        <form action="#" th:action = "@{/update_klient}" method = "post">
            <table border = "1" cellpadding = "10">
            <tr>
            <td>Numer klienta</td>
                <td><input type = "hidden" th:value = "${klient.nrKlienta}" name = "nrKlienta" required readonly = "readonly"></td>
            </tr>
            <tr>
            <td>Imię</td>
                <td><input type = "text" th:value = "${klient.imie}" name = "imie" required readonly = "readonly"></td>
            </tr>
            
            <tr>
            <td>Nazwisko</td>
                <td><input type = "text" th:value = "${klient.nazwisko}" name = "nazwisko" required readonly = "readonly"></td>
            </tr>
            
            <tr>
            <td>Numer telefonu</td>
                <td><input type = "text" maxlength="11" th:value = "${klient.nrTelefonu}" name = "nrTelefonu" required></td>
            </tr>
            <tr>
            <td>Czy aktywna umowa</td>
                <td><select id = "aktywnaUmowa" th:value = "${klient.aktywnaUmowa}" name = "aktywnaUmowa" required>
                    <option value = "T">Tak</option>
                    <option value = "N">Nie</option>
                    </select>
                </td>
            </tr>    
            <tr>
            <td>Seria i numer dowodu osobistego</td>
                <td><input type = "text" th:value = "${klient.nrDowodu}" name = "nrDowodu" readonly = "readonly"></td>
            </tr>
            <tr>
            <td>Numer PESEL</td>
                <td><input type = "text" maxlength = "11" th:value = "${klient.pesel}" name = "pesel" required readonly = "readonly"></td>
            </tr>
            <tr>
            <td>Numer paszportu</td>
                <td><input type = "text" th:value = "${klient.nrPaszportu}" name = "nrPaszportu" ></td>
            </tr>
            <tr>
            <td>Adres e-mail</td>
                <td><input type = "text" th:value = "${klient.email}" name = "email" required></td>
            </tr>
            <tr>
            <td>Hasło</td>
                <td><input type = "Password" th:value = "${klient.haslo}" name = "haslo" required></td>
            </tr>
            <tr>
            <td>Rola</td>
                <td><input type = "text" th:value = "${klient.authority}" name = "authority" required></td>
            </tr>
            <tr>
            <td>Czy konto aktywne</td>
                    <td><select id = "czyAktywne" th:value = "${klient.czyAktywne}" name = "czyAktywne" required>
                    <option value = "T">Tak</option>
                    <option value = "N">Nie</option>
                    </select>
                </td>
            </tr>
                
            
        
            <tr>
            <td>Numer adresu</td>
                <td><input type = "hidden" th:value = "${klient.nrAdresu}" name = "nrAdresu" required readonly = "readonly"></td>
            </tr>
            <tr>
            <td>Miasto</td>
                <td><input type = "text" th:value = "${adres.miasto}" name = "miasto" required></td>
            </tr>
            
            <tr>
            <td>Ulica</td>
                <td><input type = "text" th:value = "${adres.ulica}" name = "ulica" required></td>
            </tr>
            
            <tr>
            <td>Numer domu</td>
                <td><input type = "text" th:value = "${adres.nrDomu}" name = "nrDomu" required></td>
            </tr>
            
            <tr>
            <td>Numer lokalu</td>
                <td><input type = "text" th:value = "${adres.nrLokalu}" name = "nrLokalu"></td>
            </tr>
            
            
            
            
            <tr>
            <td>Kod pocztowy</td>
                <td><input type = "text" th:value = "${poczta.kodPocztowy}" name = "kodPocztowy" required></td>
            </tr>
            
            <tr>
            <td>Poczta</td>
                <td><input type = "text" th:value = "${poczta.poczta}" name = "poczta" required></td>
            </tr>
                <tr>
                    <td colspan = "2"><button type = "submit">Zapisz</button>
                    </td>
                </tr>
            </table>

        </form>

    </div>
</body>
</html>