<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Ofertę</title>
</head>
<body>
    <div align = "center">
        <h1>Edytuj Ofertę</h1>
        <br>
        <form action="#" th:action = "@{/admin/update_oferta_internet}" method = "post">
            <table border = "1" cellpadding = "10">
                <tr>
                    <td>Numer oferty:</td>
                    <td><input type = "text" th:value = "${ofertaInternet.nrOferty}" name = "nrOferty" readonly = "readonly" ></td>
                </tr>
            <tr>
            <td>Typ Internetu:</td>
                    <td><select id = "typInternetu" th:value = "${ofertaInternet.typInternetu}" name = "typInternetu" required>
                    <option value = "Radiowy">Radiowy</option>
                    <option value = "Satelitarny">Satelitarny</option>
                    <option value = "Kablowy">Kablowy</option>
                    <option value = "Swiatlowodowy">Swiatlowodowy</option>
                    <option value = "Inny">Inny</option>
                    </select>
                </td>
            </tr>
                <tr>
                    <td>Prędkośc pobierania [Mb/s]:</td>
                    <td><input type = "Number" th:value = "${ofertaInternet.predkoscPobieraniaWMb}" name = "predkoscPobieraniaWMb" required></td>
                </tr>
                <tr>
                    <td>Prędkośc wysyłania [Mb/s]:</td>
                    <td><input type = "Number" th:value = "${ofertaInternet.predkoscWysylaniaWMb}" name = "predkoscWysylaniaWMb" required></td>
                </tr>

                <tr>
                    <td>Limit transferu [GB]:</td>
                    <td><input type = "Number" th:value = "${ofertaInternet.limitTransferu}" name = "limitTransferu"></td>
                </tr>

                <tr>
                    <td>Czas trwania:</td>
                    <td><input type = "text" th:value = "${ofertaInternet.czasTrwania}" name = "czasTrwania" required></td>
                </tr>

                <tr>
                    <td>Cena:</td>
                    <td><input type = "Number" step = "0.01" th:value = "${ofertaInternet.cena}" name = "cena" required></td>
                </tr>
                <tr>
                <td>Dodatki do umowy:</td>
                    <td><select id = "dodatkiDoUmowy" th:value = "${ofertaInternet.dodatkiDoUmowy}" name = "dodatkiDoUmowy" required>
                        <option value = "Bezpieczny Internet">Bezpieczny Internet</option>
                        <option value = "Telewizja Internetowa">Telewizja Internetowa</option>
                        <option value = "Inny">Inny</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Koszt wypowiedzenia:</td>
                    <td><input type = "Number" step = "0.01" th:value = "${ofertaInternet.kosztWypowiedzenia}" name = "kosztWypowiedzenia" required></td>
                </tr>
                <tr>
                    <td colspan = "2"><button type = "submit">Zapisz</button>
                    </td>
                </tr>
            </table>

        </form>

    </div>
</body>
</html>