<!DOCTYPE html>
<html lang = "pl" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style1.css">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>
<body>
    <!--
    <nav>
        <ul>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Strona główna</a></li>
        </ul>
    </nav>
-->
    
<div>
    <h1>Dodaj nową ofertę</h1>
    <form action = "#" th:action = "@{/save_oferta_telefonia}" method = "post">
        <table border = "1" cellpadding = "10">
            <tr>
            <td>Typ oferty:</td>
                <td><select id = "typOferty" th:value = "${ofertaTelefonia.typOferty}" name = "typOferty" required>
                    <option value = "Telefonia">Telefonia</option>
                    </select>
                </td>
            </tr>
            <tr>
            <td>Pakiet danych [GB]:</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.pakietDanych}" name = "pakietDanych" required></td>
            </tr>
            
            <tr>
            <td>Pakiet połączeń krajowych [minuty:]</td>
                <td><input type = "Number" th:value = "${ofertaTelefonia.pakietPolaczenKrajowych}" name = "pakietPolaczenKrajowych" required></td>
            </tr>
            
            <tr>
            <td>Pakiet połączeń zagranicznych [minuty]:</td>
                <td><input type = "Number" th:value = "${ofertaTelefonia.pakietPolaczenZagranica}" name = "pakietPolaczenZagranica" required></td>
            </tr>
            
            <tr>
            <td>Pakiet SMS:</td>
                <td><input type = "Number" th:value = "${ofertaTelefonia.pakietWiadomosci}" name = "pakietWiadomosci" required></td>
            </tr>
            <tr>
            <td>Koszt SMS po wyczerpaniu pakietu:</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.kosztWiadomosci}" name = "kosztWiadomosci" required></td>
            </tr>
            <tr>
            <td>Koszt połączeń krajowych po wyczerpaniu pakietu [zł/minuta]:</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.polaczeniaKrajoweKoszt}" name = "polaczeniaKrajoweKoszt" required></td>
            </tr>
            <tr>
            <td>Koszt połączeń zagranicznych po wyczerpaniu pakietu [zł/minuta]:</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.polaczeniaZagranicaKoszt}" name = "polaczeniaZagranicaKoszt" required></td>
            </tr>
            <tr>
            <td>Nazwa Generacji:</td>
                <td><input type = "text" th:value = "${ofertaTelefonia.nazwaGeneracji}" name = "nazwaGeneracji" required></td>
            </tr>
            
            <tr>
            <td>Opis generacji:</td>
                <td><textarea id = "opis" rows = "4" cols = "50" th:value = "${ofertaTelefonia.opis}" name = "opis" required></textarea></td>
            </tr>
            
            <tr>
            <td>Czas trwania:</td>
                <td><input type = "text" th:value = "${ofertaTelefonia.czasTrwania}" name = "czasTrwania" required></td>
            </tr>
            <tr>
            <td>Dodatki do umowy:</td>
                <td><select id = "dodatkiDoUmowy" th:value = "${ofertaTelefonia.dodatkiDoUmowy}" name = "dodatkiDoUmowy" required>
                    <option value = "Brak">Brak</option>
                    <option value = "Bezpieczny Internet">Bezpieczny Internet</option>
                    <option value = "Telewizja Internetowa">Telewizja Internetowa</option>
                    <option value = "Inny">Inny</option>
                    </select>
                </td>
            </tr>
            
            <tr>
            <td>Cena:</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.cena}" name = "cena" required></td>
            </tr>
            

            

            
            <tr>
            <td>Koszt wypowiedzenia</td>
                <td><input type = "Number" step = "0.01" th:value = "${ofertaTelefonia.kosztWypowiedzenia}" name = "kosztWypowiedzenia" required></td>
            </tr>

            <tr>
                <td colspan = "2">
                    <button type = "submit">Zapisz</button>
                </td>
            </tr>
        </table>
        </form>


</div>
</body>


</html>