<!DOCTYPE html>
<html lang = "pl" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/newFormStyle.css">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>Nowa oferta</title>
</head>
<body>
    <div class = "container">
                <div class = "header">
                    <div class = "navbar">
                    <ul>
                        <li><a href = "/admin/main">Strona główna</a></li>
                        <li>Oferta
                        <div class = "submenu-1">
                                <ul>
                                    <li><a href = "/admin/oferty_internet">Internet</a></li>
                                    <li><a href = "/admin/oferty_telewizja">Telewizja</a></li>
                                    <li><a href = "/admin/oferty_telefonia">Telefonia</a></li>
                                </ul>
                            </div>

                        </li>
                        <li><a href = "/admin/klienci">Klienci</a></li>
                        <li><a href = "/admin/umowy">Umowy</a></li>
                        <li><a href = "operatorData">O nas</a></li>
                        <li>
                            <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b>
                            <div class = "submenu-1">
                                <ul>
                                    <li>
                                        <form action = "#" th:action = "@{/perform_logout}" method = "post">
                                        <button type = "submit" class = "logoutButton">Wyloguj</button>
                                        </form>
                                    </li>
                                    <li><a href = "/admin/about_me">Moje dane</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        
    <div class = "mainContent">
        <div class = "content">
        <div class = "title">Nowa oferta</div>
        <div class = "newForm">
            <form action = "#" th:action = "@{/admin/save_oferta_internet}" method = "post">
                <div class = "selectDetails">
                        <div class = "inputSelect">
                            <span class = "selectTitle">Typ oferty</span>
                            <select id = "typOferty" th:value = "${ofertaInternet.typOferty}" name = "typOferty" required>
                            <option value = "Internet">Internet</option>
                            </select>
                        </div>
                        <div class = "inputSelect">
                            <span class = "selectTitle">Typ Internetu</span>
                            <select id = "typInternetu" th:value = "${ofertaInternet.typInternetu}" name = "typInternetu" required>
                            <option value = "Radiowy">Radiowy</option>
                            <option value = "Satelitarny">Satelitarny</option>
                            <option value = "Kablowy">Kablowy</option>
                            <option value = "Swiatlowodowy">Światłowodowy</option>
                            <option value = "Inny">Inny</option>
                            </select>
                        </div>
                        <div class = "inputSelect">
                            <span class = "selectTitle">Dodatki do umowy</span>
                            <select id = "dodatkiDoUmowy" th:value = "${ofertaInternet.dodatkiDoUmowy}" name = "dodatkiDoUmowy" required>
                            <option value = "Brak">Brak</option>
                            <option value = "Bezpieczny Internet">Bezpieczny Internet</option>
                            <option value = "Telewizja Internetowa">Telewizja Internetowa</option>
                            <option value = "Inny">Inny</option>
                            </select>
                        </div>
                    </div>
                    <div class = "userDetails">
                    <div class = "inputBox">
                        <span class = "details">Prędkośc pobierania</span>
                        <input type = "Number" th:value = "${ofertaInternet.predkoscPobieraniaWMb}" name = "predkoscPobieraniaWMb" placeholder = "Podaj prędkość pobierania w Mb, np. 50" required>
                    </div>
                    <div class = "inputBox">
                        <span class = "details">Prędkośc wysyłania</span>
                        <input type = "Number" th:value = "${ofertaInternet.predkoscWysylaniaWMb}" name = "predkoscWysylaniaWMb" placeholder = "Podaj prędkość wysyłania w Mb, np. 50" required>
                    </div>
                    <div class = "inputBox">
                        <span class = "details">Limit transferu</span>
                        <input type = "Number" th:value = "${ofertaInternet.limitTransferu}" name = "limitTransferu" placeholder = "Podaj limit transferu w GB, np. 500GB" required>
                    </div>
                    <div class = "inputBox">
                        <span class = "details">Czas trwania</span>
                        <input type = "text" th:value = "${ofertaInternet.czasTrwania}" name = "czasTrwania" placeholder = "Podaj czas trwania, np. 12 miesięcy" required>
                    </div>
                    <div class = "inputBox">
                        <span class = "details">Cena</span>
                        <input type = "Number" step = "0.01" th:value = "${ofertaInternet.cena}" name = "cena" placeholder = "Podaj cenę w zł, np. 49.99" required>
                    </div>
                    <div class = "inputBox">
                        <span class = "details">Koszt wypowiedzenia</span>
                        <input type = "Number" step = "0.01" th:value = "${ofertaInternet.kosztWypowiedzenia}" name = "kosztWypowiedzenia" placeholder = "Podaj koszt wypowiedzenia w zł, np. 499.99 zł" required>
                    </div>
                </div>
                <div class = "confirmButton">
                <input type = "submit" value = "Dodaj ofertę ">
                </div>
            </form>
        </div>
        </div>
    </div>
        <div class = "footer">
            BDBT 2022, Operator sieci kablowej - Radosław Godlewski, Jakub Wojciechowski 
        </div>
</div>      
</body>


</html>