<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dane użytkownika</title>
</head>
<style>
    div {
        height: 200px;
        width: 400px;


        position: fixed;
        top: 40%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
</style>
<body>
<div align="center" >
    <a th:href="@{'/user/edit_klient/'+ ${klient.nrKlienta}}">Edytuj</a> <br/> 
    Imię: <span th:text="${klient.imie}" >Imie</span><br/>
    Nazwisko: <span th:text="${klient.nazwisko}">nazwisko</span> <br/>
    Numer telefonu: <span th:text="${klient.nrTelefonu}">numer telefonu</span> <br/>
    Data dołączenia: <span th:text="${klient.dataDolaczenia}" >data</span> <br/>
    Email: <span th:text="${klient.email}">email</span> <br/>
</div>
</body>
</html>