<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz nowej umowy</title>
</head>
<body>
<div align="center">
    <h1>Dodaj nową umowę</h1>
    <br/>
    <a href="/oferty_telewizja">Sprawdź oferty telewizji</a>
    <br/>
    <br/>
    <a href="/oferty_internet">Sprawdź oferty internetu</a>
    <br/>
    <br/>
    <a href="/oferty_telefonia">Sprawdź oferty telefonii</a>
    <br/><br/>

    <form action="#" th:action="@{/user/saveNewUmowaKlient}" method="post">
        <table border = "1" cellpadding="10">
            <tr>
                <td>Data podpisania:</td>
                <td><input type="date" th:value="${umowa.data}" name="data" required></td>
            </tr>
            <tr>
                <td>Numer oferty:</td>
                <td><input type="number" th:value="${umowaSzczegoly.nrOferty}" name="nrOferty" min="1" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Dodaj umowę</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>