<!DOCTYPE html>
<html lang = "pl" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Oferty internet</title>
</head>
<body>
<div class = "container">
    <div class = "header">
        <div class = "navbar">
            <ul>
                <li><a href = "/user/main">Strona główna</a></li>
                <li>Oferta
                    <div class = "submenu-1">
                        <ul>
                            <li><a href = "/user/oferty_internet">Internet</a></li>
                            <li><a href = "/user/oferty_telewizja">Telewizja</a></li>
                            <li><a href = "/user/oferty_telefonia">Telefonia</a></li>
                        </ul>
                    </div>

                </li>
                <li><a href = "/user/umowy_klient">Umowy</a></li>
                <li><a href = "/operatorData">O nas</a></li>
                <li>
                    <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b>
                    <div class = "submenu-1">
                        <ul>
                            <li>
                                <form action = "#" th:action = "@{/perform_logout}" method = "post">
                                    <button type = "submit" class = "logoutButton">Wyloguj</button>
                                </form>
                            </li>
                            <li><a href = "/user/about_me">Moje dane</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class = "content">
        <div class = "tableTitle">
            <h1>Oferta Internet</h1>
        </div>

        <div class = "tableContainer">
            <table class = "contentTable">
                <thead>
                <tr>
                    <th >Numer oferty</th>
                    <th>Typ internetu</th>
                    <th>Prędkośc pobierania [Mb]</th>
                    <th>Prędkośc wysyłania [Mb]</th>
                    <th>Limit transferu [GB]</th>
                    <th>Czas trwania</th>
                    <th>Cena</th>
                    <th>Dodatki do umowy</th>
                    <th>Koszt wypowiedzenia</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each = "ofertaInternet : ${ofertaInternetList}">
                    <td th:text = "${ofertaInternet.nrOferty}">Numer oferty</td>
                    <td th:text = "${ofertaInternet.typInternetu}">Typ internetu</td>
                    <td th:text = "${ofertaInternet.predkoscPobieraniaWMb}">Prędkośc pobierania [Mb/s]</td>
                    <td th:text = "${ofertaInternet.predkoscWysylaniaWMb}">Prędkośc wysyłania [Mb/s]</td>
                    <td th:text = "${ofertaInternet.limitTransferu}">Limit transferu [GB]</td>
                    <td th:text = "${ofertaInternet.czasTrwania}">Czas trwania</td>
                    <td th:text = "${ofertaInternet.cena}">Cena</td>
                    <td th:text = "${ofertaInternet.dodatkiDoUmowy}">Dodatki do umowy</td>
                    <td th:text = "${ofertaInternet.kosztWypowiedzenia}">Koszt wypowiedzenia</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class = "footer">
        BDBT 2022, Operator sieci kablowej - Radosław Godlewski, Jakub Wojciechowski
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


</html>