<!DOCTYPE html>
<html lang = "pl" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/tableStyle.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Zawarte umowy</title>
</head>
<body>
<div class = "container">
    <div class = "header">
        <div class = "navbar">
            <ul>
                <li><a href = "/user/main">Strona główna</a></li>
                <li>Oferta
                    <div class = "submenu-1">
                        <ul>
                            <li><a href = "/user/oferty_internet">Internet</a></li>
                            <li><a href = "/user/oferty_telewizja">Telewizja</a></li>
                            <li><a href = "/user/oferty_telefonia">Telefonia</a></li>
                        </ul>
                    </div>

                </li>
                <li><a href = "/user/umowy_klient">Umowy</a></li>
                <li><a href = "/operatorData">O nas</a></li>
                <li>
                    <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b>
                    <div class = "submenu-1">
                        <ul>
                            <li>
                                <form action = "#" th:action = "@{/perform_logout}" method = "post">
                                    <button type = "submit" class = "logoutButton">Wyloguj</button>
                                </form>
                            </li>
                            <li><a href = "/user/about_me">Moje dane</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
            </div>

    <div class = "content">
        <div class = "tableTitle">
            <h1>Umowy</h1>
        </div>
        
    <div class = "tableContainer">
        <table class = "contentTable">
    <thead>
    <tr>
      <th>Numer umowy</th>
      <th>Data podpisania</th>
      <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "umowa : ${umowaList}">
      <td th:text="${umowa.nrUmowy}">Numer umowy</td>
      <td th:text="${umowa.data}">Data podpisania</td>
                    <td>
                        <a th:href="@{'/user/umowa_szczegoly/'+${umowa.nrOferty}}"><button type = "button" id = "detailsButton" class = "buttonx">
                            <span class = "buttonText">Szczegóły</span>
                            <span class = "buttonIcon">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                            </button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class = "newRecord">
            <a href = "/user/newUmowaKlient"><button type = "button" id = "addButton" class = "addButton">
                <span class = "buttonText">Dodaj nową umowę</span>
                <span class = "buttonIcon">
                    <ion-icon name="add-outline"></ion-icon>
                </span>
            </button></a>
        </div>
    </div>
    <div class = "footer">
    BDBT 2022, Operator sieci kablowej - Radosław Godlewski, Jakub Wojciechowski 
    </div>
</div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


</html>