<!DOCTYPE html>
<html lang = "pl" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Szczegóły</title>
</head>
<body>
<div class = "container">
    <div class = "header">
        <div class = "navbar">
            <ul>
                <li><a href = "/user/main">Strona główna</a></li>
                <li>Oferta
                    <div class = "submenu-1">
                        <ul>
                            <li><a href = "/user/oferty_internet">Internet</a></li>
                            <li><a href = "/user/oferty_telewizja">Telewizja</a></li>
                            <li><a href = "/user/oferty_telefonia">Telefonia</a></li>
                        </ul>
                    </div>

                </li>
                <li><a href = "/user/umowy_klient">Umowy</a></li>
                <li><a href = "/operatorData">O nas</a></li>
                <li>
                    <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b>
                    <div class = "submenu-1">
                        <ul>
                            <li>
                                <form action = "#" th:action = "@{/perform_logout}" method = "post">
                                    <button type = "submit" class = "logoutButton">Wyloguj</button>
                                </form>
                            </li>
                            <li><a href = "/user/about_me">Moje dane</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class = "content">
        <div class = "textDiv">
<span class = "category">Numer oferty: </span><span th:text = "${ofertaTelefonia.nrOferty}">Numer oferty</span> <br/>
<span class = "category">Pakiet danych [GB]: </span><span th:text = "${ofertaTelefonia.pakietDanych}">Pakiet danych [GB]</span> <br/>
<span class = "category">Pakiet połączeń krajowych [minuty]:</span> <span th:text = "${ofertaTelefonia.pakietPolaczenKrajowych}">Pakiet połączeń krajowych [minuty]</span> <br/>
<span class = "category">Pakiet połączeń zagranicznych [minuty]: </span><span th:text = "${ofertaTelefonia.pakietPolaczenZagranica}">Pakiet połączeń zagranicznych [minuty]</span> <br/>
<span class = "category">Pakiet SMS:</span> <span th:text = "${ofertaTelefonia.pakietWiadomosci}">Pakiet SMS</span> <br/>
<span class = "category">Koszt wiadomości po przekroczeniu pakietu:</span> <span th:text = "${ofertaTelefonia.kosztWiadomosci}">Koszt wiadomości po przekroczeniu pakietu</span> <br/>
<span class = "category">Koszt połączeń krajowych po przekroczeniu pakietu[za minutę]: </span><span th:text = "${ofertaTelefonia.polaczeniaKrajoweKoszt}">Koszt połączeń krajowych po przekroczeniu pakietu[za minutę]</span> <br/>
<span class = "category">Koszt połączeń zagranicznych po przekroczeniu pakietu[za minutę]:</span> <span th:text = "${ofertaTelefonia.polaczeniaZagranicaKoszt}">Koszt połączeń zagranicznych po przekroczeniu pakietu[za minutę]</span> <br/>
<span class = "category">Nazwa generacji:</span> <span th:text = "${ofertaTelefonia.nazwaGeneracji}">Nazwa generacji</span> <br/>
<span class = "category">Opis generacji: </span><span th:text = "${ofertaTelefonia.opis}">Opis generacji</span> <br/>
<span class = "category">Czas trwania:</span> <span th:text = "${ofertaTelefonia.czasTrwania}">Czas trwania</span> <br/>
<span class = "category">Cena: </span><span th:text = "${ofertaTelefonia.cena}">Cena</span> <br/>
<span class = "category">Dodatki do umowy: </span><span th:text = "${ofertaTelefonia.dodatkiDoUmowy}">Dodatki do umowy</span> <br/>
<span class = "category">Koszt wypowiedzenia: </span><span th:text = "${ofertaTelefonia.kosztWypowiedzenia}">Koszt wypowiedzenia</span> <br/>
    </div>
    </div>
    <div class = "footer">
        BDBT 2022, Operator sieci kablowej - Radosław Godlewski, Jakub Wojciechowski
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


</html>