<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj dane operatora</title>
</head>
<body>
<div align="center">
    <h1>Edytuj dane operatora</h1>
    <br/>
    <form action="#" th:action="@{/update}" method ="post">
        <input type = "hidden" th:value ="${operator.nrOperatora}" name = "nrOperatora">
        <input type = "hidden" th:value ="${operator.nrAdresu}" name = "nrAdresuFK">
        <input type = "hidden" th:value ="${adres.nrAdresu}" name = "nrAdresu">
        <table border = "1" cellpadding="10">
            <tr>
                <td>Nazwa operatora:</td>
                <td><input type = "text" th:value="${operator.nazwa}" name ="nazwa" required></td>

            </tr>
            <tr>
                <td>Data założenia:</td>
                <td><input type = "date" th:value="${operator.dataZalozenia}" name = "dataZalozenia" required></td>
            </tr>
            <tr>
                <td>Miasto:</td>
                <!--sprawdzenie w obiekcie czy to sam string (przed insertem)?-->
                <td><input type = "text" th:value = "${adres.miasto}" name = "miasto" required></td>

            </tr>
            <tr>
                <td>Ulica:</td>
                <td><input type ="text" th:value = "${adres.ulica}" name = "ulica" required></td>
            </tr>
            <tr>
                <td>Numer domu:</td>
                <td><input type = "number" th:value = "${adres.nrDomu}" name = "nrDomu" min = "1" required></td>
            </tr>
            <tr>
                <td>Numer lokalu:</td>
                <td><input type = "text" th:value = "${adres.nrLokalu}" name = "nrLokalu" min = "1" ></td>

            </tr>
            <tr>
                <td colspan="2"><button type="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>