<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf extras springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania</title>
</head>
<body>
<div th:if="${param.error}">
    Błędne hasło lub nazwa użytkownika.
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany.
</div>
<form th:action="@{/login}" method="post">
    <div><label>Nazwa użytkownika: <input type="text" name="username"/></label></div>
    <div><label>Hasło: <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Zaloguj"></div>
</form>
</body>
</html>